<!--default-layout.html-->

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <img src="/static/img/logo2.png" class="logo" alt="">
            <div class="navbar-brand"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between d-flex" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0 nav-decoration">
                    <li class="nav-item">
                        <div class="nav-link" aria-current="page">Войти</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>